link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel="styleSheet",href="/css/style.css")
link(rel="styleSheet",href="#{cdnCSS ? cdnCSS : '' }")
script(src="/libs/jquery/dist/jquery.min.js",type="text/javascript")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js",type="text/javascript")
script.
    function _login() {
        location.href="/login"
    }
if env === 'prod'
    script(src="https://sdkcdn.videojj.com/liveOSSdk/SDK.js?t=#{Date.now()}")
    script(src="https://sdkcdn.videojj.com/liveOSPanda/liveOS.js?t=#{Date.now()}")
else
    script(src="https://sdkcdn.videojj.com/liveOSSdk/develop/SDK.js?t=#{Date.now()}")
    script(src="https://sdkcdn.videojj.com/liveOSPanda/develop/liveOS.js?t=#{Date.now()}")
